%header
  %nav
    .wrapper
      %a#nav-menu{:href => "#"}
        Menu
        %span &#9776
      %ul#nav
        %li
          =link_to "Hackers", "#titulo_hackers"
        %li
          =link_to "¿De que trata?", "#trata"
        %li
          =link_to "¿Yo También puedo exponer?", "#exponer"
        %li
          =link_to "¿Lugar?", "#lugar"
        %li
          =link_to "¿Cronograma?", "#cronograma"
%section#presentacion
  .wrapper2
    %h1 #HACKERS FEST
    %p
      Hackers Fest es un evento para mostrar tecnología, compartir tecnología, respirar tecnología y hablar sobre tecnología ¿ya dije que nos gusta la tecnología?.
      %span Ven y comparte con nuestros héroes tus conocimientos y descubre porque nos fascina tanto lo que hacemos
    %p.fecha
      18 de Enero - Auditorio Facultad de Ingenieria UPT
    =link_to "Registrarse", "#", id: "reg", class: "registrarse"
%section#formulario
  .wrapper
    =form_tag participants_create_path, remote: true do
      =hidden_field_tag "fb_id", value: "-1"
      =hidden_field_tag "email", value: "no_mail"
      =hidden_field_tag "name", value: "no_name"
      =hidden_field_tag "gender", value: "no_gender"
      =hidden_field_tag "image", value: "no_image"
      =hidden_field_tag "username", value: "username"
      %h4
        ¿Que tecnología te gustaría que se tratáse en el evento?
      =text_area_tag "suggestion", "",id: :textarea, placeholder: "Tu comentario" 
      =submit_tag "Enviar", id: "enviar"
%section#tecnologias
  .tecnologias
    %figure
      =image_tag "icono_html5.jpg", alt: "HTML5", title: "HTML5"
    %figure
      =image_tag "icono_python.jpg",alt:"Python", title: "Python"
    %figure
      =image_tag "icono_android.jpg", alt: "Android", :title => "Android"
    %figure
      =image_tag "icono_nodejs.jpg", alt: "Node.js", :title => "Node.js"
    %figure
      =image_tag "icono_ruby.jpg", alt: "Ruby", :title => "Ruby"
%section#contador 
  %p
    #{@people + 50} futuros hackers se han inscrito al evento!
%section#titulo_hackers
  .wrapper
    %h2
      hackers
%section#hackers
  .wrapper
    .expositor
      %figure
        =image_tag "avatar_educartoon.jpg", alt: "Avatar Educartoons", :title => "Educartoons"
      %h3 Eduar Rubén
      =link_to "@educartoons", "http://www.twitter.com/educartoons" 
      %p
        Nerd, melómano y lector voraz. Aunque trabaja en el mundo tecnológico apuesta por la contracultura.
    .expositor
      %figure
        =image_tag "avatar_kerry.jpg", alt: "Avatar Kerry", :title => "Kerry"
      %h3 Kerry Pérez
      =link_to "@kerpie", "http://www.twitter.com/kerpie"
      %p
        Programador Certificado Oracle, Desarrollador Android, amante de Ruby on Rails. Mobile Wizard.
    .expositor
      %figure
        =image_tag "avatar_alonso.jpg", alt: ""
      %h3 Alonso Calle
      =link_to "@_AlonsoCN", "http://www.twitter.com/_AlonsoCN"
      %p
        Ing. de Sistemas. Desarrollador Backend, Gamer, Skater, Zurdo. Fascinado por la creacion de videojuegos.
    .expositor
      %figure
        =image_tag "avatar_jorge.jpg", alt: ""
      %h3 Jorge Pacora
      =link_to "@jpacorasilva", "http://www.twitter.com/jpacorasilva"
      %p
        Nómada Digital, Fundador de Ikey Software, Co-Fundador de Tacna Developers, Él ama Node.js.
    .expositor
      %figure
        =image_tag "avatar_ricardo.jpg", alt: ""
      %h3 Ricardo Coronado
      =link_to "#RicardoCorp", "https://www.facebook.com/rikardo.corp"
      %p
        Desarrollador Ninja de Aplicaciones en PHP con Codeigniter.
    .expositor
      %figure
        =image_tag "avatar_angelo.jpg", alt: ""
      %h3 Angelo Leva
      =link_to "@angelolev", "http://www.twitter.com/angelolev"
      %p
        CEO & Fundador de Innodesign. Tweeteo sobre tecnologia. 
    .expositor
      %figure
        =image_tag "avatar_jesus.jpg", alt: ""
      %h3 Jesus Mariaca
      =link_to "@JesusSempai", "http://www.twitter.com/JesusSempai"
      %p
        Scrum master. Desarrollador de dia, de noche, en eclipse, temblores... 24/7!.
%section#trata.parte
  .wrapper
    .trata
      %h2
        ¿De qué trata?
      %p
        Hackers Fest es el mejor evento de tecnología a desarrollarse en Tacna, donde héroes, geeks y hackers mostraremos y hablaremos sobre tecnologías que no puedes permitirte perder, te enseñaremos a perder el miedo a utilizarlas y a convertirte en un rockstar. Todos quieren ser rockstars!
.rayitas
%section#exponer.parte
  .wrapper
    .puedo
      %h2
        ¿Puedo yo también exponer?
      %p
        El mundo tecnologico esta en constante evolución, si quieres compartir alguno de tus superpoderes con nosotros, bienvenido! Solo tienes que enviarnos un correo explicándonos brevemente con que tema puedes particiar y listo!. Envia tu correo a k4torce@gmail.com
.rayitas
%section#lugar.parte
  .wrapper
    .lugar
      %h2
        ¿Lugar?
      %p
        El evento se realizará el 18 de enero en el auditorio de la Facultad de Ingeniería de la Universidad Privada de Tacna, a las 9:00am. El evento es gratuito pero con cupo limitado ¡No olvides registrarte!
      #map{style: "width: 300px; height: 300px;"}
.rayitas
%section#cronograma.parte
  .wrapper
    .cronograma
      %h2
        Cronograma
      %ul
        %li
          %p
            %span Node.js: Del browser al server
            Jorge Pacora
        %li
          %p
            %span Un echo al mundo con codeigniter
            Ricardo Coronado
        %li
          %p
            %span Front-end rockstar
            Eduar Apaza
        %li
          %p
            %span Juegos 2D: All you need is LOVE
            Luis Alonso
        %li
          %p
            %span Vida verde con Android
            Kerry Perez
        %li
          %p
            %span Usabilidad Web 
            Angelo Leva
        %li
          %p
            %span Scrum love!
            Jesus Mariaca
.rayitas
=javascript_include_tag "jquery.autosize.min.js"
:javascript
  function login(){
    fb.login(function(){
      if(fb.logged){
        $("#reg").text("Hola "+fb.user.name);
        $("#fb_id").val(fb.user.id);
        $("#email").val(fb.user.email);
        $("#name").val(fb.user.name);
        $("#gender").val(fb.user.gender);
        $("#image").val(fb.user.picture);
        $("#username").val(fb.user.username);
        $("#formulario").slideDown();
      }
      $('body').css('cursor','default');
    });
  }
:javascript
  $(document).ready(function(){

    var n = '#nav', no = 'nav-open';
    $('#nav-menu').click(function(event){
      event.preventDefault();
      if($(n).hasClass(no)){
        $(n).animate({height:0},300);
        setTimeout(function(){
          $(n).removeClass(no).removeAttr('style');
          },320);
      }
      else{
        var newH = $(n).css('height','auto').height();
        $(n).height(0).animate({height:newH},300);
        setTimeout(function(){
          $(n).addClass(no).removeAttr('style');
          },320);
      }
    });
    var formulario = {
      textarea : function(){
        $('textarea').autosize({append: "\n"});
      },
      init : function(){
        formulario.textarea();
      }
    }
    formulario.init();
    var pantalla = {
      resize : function(){
        $(window).on('resize',function(){
          pantalla.calcular();
        });
      },
      calcular : function(){
        $('#presentacion').css('margin-top',$('header').height());
      },
      init : function(){
        pantalla.resize();
        pantalla.calcular();
      }
    }
    pantalla.init();

    var maps = new GMaps({
      div: "#map",
      lat: -18.004787,
      lng: -70.2261124,
    });

    maps.addMarker({
      lat: -18.004787,
      lng: -70.2261124,
      title: "Universidad Privada de Tacna",
      infoWindow:{
        content: "<p>HackersFest<br>18 de enero a las 9:00am</p>"
      }
    });

    fb.ready(function(){
      if(fb.logged){
        $.ajax({
          type: "POST",
          url: "#{participants_check_path}", 
          data: {
            fb_id: fb.user.id,
          }
        });
      }
      else{
        $('#reg').click(function(event){
          event.preventDefault();
          login();
        });
      }
    });

    $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 53
        }, 1000);
        return false;
      }
    }
  });
  });