header{position:fixed;left:0;right:0;top:0;z-index:2;}
header nav{background-color:#2c3e50;color:#4e4e4e;}
header nav #nav-menu{display:none;}
@media screen and (max-width: 480px){header nav #nav-menu{display:block;padding:15px 10px;text-align:center;color:#fff;text-decoration:none}
header nav #nav-menu span{display:inline-block;margin-right:20px}
}header nav ul{margin:0 auto;padding:0;list-style:none;overflow:auto;text-align:center;}
@media screen and (max-width: 480px){header nav ul{height:0}
}header nav ul li{display:inline-block;font-family:Open Sans;margin-right:15px;padding:15px 10px;transition:.2s background;}
@media screen and (max-width: 1000px){header nav ul li{margin-right:0}
}@media screen and (max-width: 480px){header nav ul li{text-align:center;margin-right:0;display:block}
}header nav ul li:hover{background:#1e2934;text-decoration:underline}
header nav ul li a{color:#fff;display:block;text-decoration:none}
.nav-open{height:auto}
section#formulario{background-color:#2c3e50;display:none;padding-top:30px;padding-bottom:10px;color:#fff;text-align:center;}
section#formulario form h4{font-family:Open Sans;font-size:16px;font-weight:600}
section#formulario form textarea{display:block;margin:0 auto;outline:none;padding:10px;transition:height .2s;width:380px;}
section#formulario form textarea:hover{border:1px solid #ffa500}
@media screen and (max-width: 480px){section#formulario form textarea{width:90%}
}section#formulario form input[type="submit"]{border:0;background-color:#2ecc71;border-radius:5px;border-bottom:7px solid #2bb565;color:#fff;display:block;font-family:Open Sans;font-size:16px;font-weight:400;margin:0 auto;margin-top:10px;padding:10px 0 10px 0;outline:none;text-transform:uppercase;width:406px;}
@media screen and (max-width: 480px){section#formulario form input[type="submit"]{width:95%}
}section#presentacion{background-color:#000;color:#fff;text-align:center;background-image:url(image_path("equipo.jpg"));background-position:center center;background-repeat:no-repeat;height:362px;margin-top:52px;}
section#presentacion h1{
	display:inline-block;
	margin:0 auto;
	font-family:Open Sans;
	font-weight:600;
	font-size:50px;
	padding:50px 0 30px 0;
}
section#presentacion p{
	background-color:rgba(0,0,0,0.8);
	font-size:18px;
	font-family:Open Sans;
	margin:0 auto;
	padding:10px 15px 10px 15px;
	position:relative;
	text-align:center;
	width:70%;
}
@media screen and (max-width: 900px){
	section#presentacion p{
		padding:0;
		width:100%
	}
}
@media screen and (max-width: 480px){
	section#presentacion p{
		font-size:14px;
		padding:0;
		width:100%
	}
}
@media screen and (max-width: 480px){
	section#presentacion p span{
		display:none
	}
}
section#presentacion a{
	background-color:#06c;
	border-radius:7px;
	border-bottom:7px solid #0958a8;
	color:#fff;
	display:inline-block;
	padding:15px 30px 15px 30px;
	position:relative;
	top:25px;
	font-size:14px;
	text-transform:uppercase;
	transition:.2s background;
}
@media screen and (max-width: 900px){
	section#presentacion a{
		top: 80px;
	}
}
@media screen and (max-width: 650px){
	section#presentacion a{
		top: 10px;
	}
}
@media screen and (max-width: 480px){section#presentacion a{top:90px;font-size:14px}
}section#presentacion a:hover{background-color:#0b5fb3}
#reg{text-decoration: none;}
section#tecnologias{background-color:#fff;text-align:center;font-family:Open Sans;padding-top:30px;}
@media screen and (max-width: 480px){section#tecnologias{padding-top:110px}
}section#tecnologias div.tecnologias figure{display:inline-block;margin:0 30px;transition:.2s;}
section#tecnologias div.tecnologias figure:hover{-webkit-transform:scale(.8,.8)}
section#titulo_hackers{background-color:#e8f7f4;border-bottom:1px solid #d0dfdc;border-top:1px solid #d0dfdc;text-align:center;}
section#titulo_hackers h2{color:#2c3e50;font-weight:600;font-size:34px;font-family:Open Sans;text-align:center;text-transform:uppercase;width:100%}
section#hackers{padding:70px 0 0 0;text-align:center;}
section#hackers div.expositor{display:inline-block;width:30%;vertical-align:top;margin-bottom:20px;}
@media screen and (max-width: 480px){section#hackers div.expositor{width:100%}
}@media screen and (max-width: 900px){section#hackers div.expositor figure{width:100%}
}@media screen and (max-width: 480px){section#hackers div.expositor figure{width:100%}
}section#hackers div.expositor figure img:hover{background-color:#f00}
section#hackers div.expositor h3{margin:0}
section#hackers div.expositor a{color:#259ee4;font-size:16px;font-family:Open Sans;text-decoration:none}
section#hackers div.expositor p{color:#4e4e4e;font-size:14px;font-family:Open Sans}
section.parte{background-image:url(image_path("hoffman.png"));margin-bottom:30px;}
section.parte div.trata{padding:20px 0 20px 0;width:100%;background-image:url(image_path("trata.png"));background-repeat:no-repeat;background-position:right bottom;}
@media screen and (max-width: 480px){section.parte div.trata{text-align:center;background-size:50% auto;background-position:bottom center}
}section.parte div.trata h2{color:#2c3e50;font-family:Open Sans;font-size:32px;font-weight:600;}
@media screen and (max-width: 480px){section.parte div.trata h2{font-size:20px;text-align:center;margin:0}
}section.parte div.trata p{color:#4e4e4e;font-family:Open Sans;font-size:18px;font-weight:400;line-height:30px;width:50%;}
@media screen and (max-width: 480px){section.parte div.trata p{font-size:14px;min-width:100%}}
section.parte div.puedo{padding:20px 0 20px 0;width:100%;background-image:url(image_path("puedo.png"));background-repeat:no-repeat;background-position:100px 10px;text-align:right;overflow:hidden;}
@media screen and (max-width: 480px){section.parte div.puedo{text-align:center;background-size:40% auto;background-position:center bottom}
}section.parte div.puedo h2{color:#2c3e50;font-family:Open Sans;font-size:32px;font-weight:600;text-align:right;}
@media screen and (max-width: 480px){section.parte div.puedo h2{font-size:20px;text-align:center;margin:0}
}section.parte div.puedo p{color:#4e4e4e;float:right;font-family:Open Sans;font-size:18px;font-weight:400;line-height:30px;width:50%;}
@media screen and (max-width: 480px){section.parte div.puedo p{font-size:14px;min-width:100%}
}section.parte div.puedo p a{color:#2c3e50;text-decoration:underline}
section.parte div.cronograma{padding:20px 0 20px 0;width:100%;background-image:url(image_path("puedo.png"));background-repeat:no-repeat;background-position:100px 10px;text-align:right;overflow:hidden;}
@media screen and (max-width: 480px){section.parte div.cronograma{text-align:center;background-size:40% auto;background-position:center bottom}}
section.parte div.cronograma h2{color:#2c3e50;font-family:Open Sans;font-size:32px;font-weight:600;text-align:right;}
@media screen and (max-width: 480px){section.parte div.cronograma h2{font-size:20px;text-align:center;margin:0}}
section.parte div.cronograma ul{list-style: none;padding: 0px;}
section.parte div.cronograma ul li{display: block;padding: 0px;}
section.parte div.cronograma ul li span{display: block;font-size: 16px;font-weight: bold;}
section.parte div.cronograma p{font-size: 15px;font-weight: thin;margin-top: 5px;}
@media screen and (max-width: 480px){section.parte div.cronograma p{font-size:14px;min-width:100%}}
section.parte div.cronograma p a{color:#2c3e50;text-decoration:underline}
section.parte div.lugar{padding:20px 0 20px 0;width:100%;background-repeat:no-repeat;background-position:right center;text-align:left;overflow:hidden;}
@media screen and (max-width: 480px){section.parte div.lugar{text-align:center;background-size:50% auto;background-position:bottom center}}
section.parte div.lugar h2{color:#2c3e50;font-family:Open Sans;font-size:32px;font-weight:600;text-align:left;}
@media screen and (max-width: 480px){section.parte div.lugar h2{font-size:20px;text-align:center;margin:0}}
section.parte div.lugar p{color:#4e4e4e;float:left;font-family:Open Sans;font-size:18px;font-weight:400;line-height:30px;max-width:50%;margin-right: 200px;}
@media screen and (max-width: 480px){section.parte div.lugar p{font-size:14px;min-width:100%;}}
section.parte div.lugar #map{position: relative;top: -50px;}
@media screen and (max-width: 900px){section.parte div.lugar #map{position: relative;top: 0px;}}
@media screen and (max-width: 480px){section.parte div.lugar #map{position: relative;top: 0px;display: block;margin: 0 auto;}}
footer{background-color:#272727;padding:20px 0;}
footer p{color:#767676;margin:0;font-family:Open Sans;font-weight:400;font-size:14px;text-align:center}
div.rayitas{border-top:1px dashed #4e4e4e;margin-bottom:30px}
.wrapper{width:1000px;margin:0 auto;}
@media screen and (max-width: 900px){.wrapper{width:90%}
}@media screen and (max-width: 480px){.wrapper{width:100%}
}.wrapper2{width:1000px;margin:0 auto;}
@media screen and (max-width: 900px){.wrapper2{width:90%}}
@media screen and (max-width: 480px){.wrapper2{width:100%}}

.icon-user:before{content:"\e600"}
.icon-remove:before{content:"\e601"}
.feedback{background-color:#2c3e50;border-bottom:5px solid #dcdcdc;}
.feedback h1{font-size:28px;font-weight:600;display:inline-block;font-family:Open Sans;color:#f4f4f4;letter-spacing:1px;}
.feedback h1 span{font-weight:300}
.feedback a{background-color:#f1c40f;border-radius:6px;border-bottom:3px solid #d9b113;color:#2c3e50;float:right;font-size:16px;padding:10px 15px 10px 15px;position:relative;text-decoration:none;top:20px;transition:.2s background;vertical-align:top;}
.feedback a:hover{background-color:#f7d23e}
.feedback a span{margin-right:10px;font-size:16px}
#mensajes{margin-top:75px;margin-bottom:20px;}
#mensajes h2{font-size:28px;font-weight:300;display:inline-block;font-family:Open Sans;color:#2c3e50;letter-spacing:1px}
#mensajes article{border:1px solid #d4d4d4;border-radius:4px;vertical-align:top;margin-top:15px;}
#mensajes article figure{display:inline-block;padding:10px}
#mensajes article div{display:inline-block;vertical-align:top;width:70%;height:100%;}
#mensajes article div h3{color:#2c3e50;font-size:14px;font-weight:600;font-family:Open Sans}
#mensajes article div p{color:#4e4e4e;font-size:14px;font-weight:400;font-family:Open Sans;margin:0}
#mensajes article div.boton{display:inline-block;margin-top:30px;margin-right:35px;float:right;width:50px;height:auto;}
#mensajes article div.boton a{text-decoration:none;color:#2c3e50;font-size:22px;padding:32px;}
#mensajes article div.boton a:hover{background-color:#2c3e50;color:#fff}
#crear-admins{background-color:#f4f4f4;display:none;margin-top:75px;padding-bottom:20px;}
#crear-admins h2{color:#2c3e50;font-size:28px;font-weight:300;display:inline-block;font-family:Open Sans;letter-spacing:1px;margin:15px 0 0 0;border-bottom:1px dashed #2c3e50}
#crear-admins ul{margin-top:15px;padding:0;}
#crear-admins ul li{background-color:#2c3e50;border-radius:4px;list-style:none;color:#fff;padding:5px 10px 5px 10px;margin-bottom:5px;display:inline-block;}
#crear-admins ul li a{text-decoration:none;color:#fff;padding:0 0 0 5px}
#crear-admins form{margin-top:15px;}
#crear-admins form input[type="text"]{display:block;background-color:#2c3e50;border:0;padding:5px 10px 5px 10px;color:#cdd5de;outline:none;border-radius:4px}
#crear-admins form input[type="submit"]{background-color:#3498db;border:0;border-radius:4px;border-bottom:6px solid #338cc8;color:#fff;padding:10px 40px 10px 40px;margin-top:10px;transition:.2s background;}
#crear-admins form input[type="submit"]:hover{background-color:#39a7f0;border-bottom:6px solid #3498db}

section#presentacion p.fecha{
	color:#FFF;
	background-color:#FF9700;
	font-weight: bold;
	text-transform: uppercase;
}

section#contador{
	width: 100%;
	margin: 0px;
}

section#contador p{
	width: 100%;
	text-align: center;
	color: #FFF;
	background: #BEF73E;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 0px;
}